.sidebar-open {
  margin-left: 280px; /* Adjust as per your sidebar width */
  transition: margin-left 0.3s ease;
}

.sidebar-closed {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.list-group-item-action:hover {
  background-color: #7daf8a !important; /* Lighter background for hover */
  color: #ffffff !important; /* Change the text color on hover if needed */
}
