.sidebar-open {
  margin-left: 280px; /* Adjust as per your sidebar width */
  transition: margin-left 0.3s ease;
}

.sidebar-closed {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.list-group-item-action:hover {
  background-color: #b2d1b9 !important; /* Lighter background for hover */
  color: #ffffff !important; /* Change the text color on hover if needed */
}

.list-group-item.active {
  background-color: #7daf8a !important;
  border-color: #7daf8a !important;
  color: #fff !important; /* Optional: Adjust text color for better contrast */
}
